---
import { z } from "zod";
import { guruSpesifikValidator } from "@utils/schedule";

type currentTeacher = z.infer<typeof guruSpesifikValidator>;

interface Props {
  individualTeacher: {
    nama: string;
    keterangan: string;
    data: currentTeacher;
  };
}

const { individualTeacher } = Astro.props;

const listHari = [1, 2, 3, 4, 5];
const jamPelajaran = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11];
---

<!-- Hapus class="hidden" dan bakalan keliatan -->
<div class="hidden space-y-2.5 mb-5" id=`guru-${individualTeacher.nama}`>
  <p>Nama: {individualTeacher.nama} | Mapel: {individualTeacher.keterangan}</p>
  <div class=`overflow-x-auto mb-5`>
    <table class="table-auto w-full">
      <thead
        class="border-b bg-zinc-900 text-zinc-50 dark:bg-zinc-200 dark:text-zinc-900"
      >
        <tr>
          <th scope="col" class="font-medium px-3 py-4 text-left">Jam Ke-</th>
          <th scope="col" class="font-medium px-3 py-4 text-left">Senin</th>
          <th scope="col" class="font-medium px-3 py-4 text-left">Selasa</th>
          <th scope="col" class="font-medium px-3 py-4 text-left">Rabu</th>
          <th scope="col" class="font-medium px-3 py-4 text-left">Kamis</th>
          <th scope="col" class="font-medium px-3 py-4 text-left">Jumat</th>
        </tr>
      </thead>
      <tbody>
        {
          jamPelajaran.map((jam) => (
            <>
              <tr class="border-b">
                <td class="px-3 py-4 whitespace-nowrap font-medium">{jam}</td>

                {listHari.map((hari) => {
                  const currentTableData = individualTeacher.data.find(
                    (data) => data.hari === hari && data.jam === jam
                  );

                  if (!currentTableData)
                    return (
                      <td class="px-3 py-4 whitespace-nowrap font-medium">-</td>
                    );

                  return (
                    <td class="px-3 py-4 whitespace-nowrap">
                      {currentTableData.kelas}
                    </td>
                  );
                })}
              </tr>
              {(jam === 4 || jam === 6) && (
                <tr class="border-b">
                  <td
                    colspan="6"
                    class="px-3 py-4 whitespace-nowrap font-medium text-center"
                  >
                    ISTIRAHAT
                  </td>
                </tr>
              )}
            </>
          ))
        }
      </tbody>
    </table>
  </div>
</div>
